@page
@model StyleShopping.Pages.DetailBlogModel
<div class="blog-detail style-two">
    <div class="inner-container">
        <!-- News Block -->
        <div class="news-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="@Model.blog.Image" alt=""></figure>
                   
                </div>

                <div class="caption-box">
                    <div class="inner">
                        <h3>@Model.blog.Title</h3>
                        <ul class="info">
                            <li>@Model.blog.CreateDate?.ToString("dd/MM/yyyy")</li>
                            <li><a href="blog-detail-2.html">@Model.blog.Account.Username</a></li>
                            
                        </ul>
                        <p>@Model.blog.Detail</p>
                        
                    </div>
                </div>
            </div>
        </div>

       

       

        
    </div>
</div>
