@page
@model StyleShopping.Pages.ShowCartModel
<section class="cart-section">
    <div class="auto-container">
        <!--Cart Outer-->
        <div class="cart-outer">
            <div class="table-outer">
                <table class="cart-table">
                    <thead class="cart-header">
                        <tr>
                            <th>Preview</th>
                            <th class="prod-column">Product</th>
                            <th class="price">Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.list)
                        {
                            <tr>
                                <td class="prod-column">
                                    <div class="column-box">
                                        <figure class="prod-thumb"><a asp-page="./Detail" asp-route-id="@item.Interior.Id"><img src="@item.Interior.Image" alt=""></a></figure>
                                    </div>
                                </td>
                                <td><h4 class="prod-title">@item.Interior.Name</h4></td>
                                <td class="sub-total">$@item.Interior.Price</td>
                                <td class="qty">
                                    <div class="item-quantity">
                                        <form method="post">
                                            <input class="quantity-spinner quantity-input" type="number" data-product-id="@item.InteriorId" value="@item.Quantity" onchange="this.form.submit()" min="1" name="quantity">
                                            <input class="quantity-spinner" type="hidden" value="@item.QuotationDetailId" name="id">

                                        </form>
                                      
                                    </div>
                                </td>
                                <td class="total">$@(item.Quantity*item.Interior.Price)</td>
                                <td><a asp-page="./RemoveCart" asp-route-id="@item.QuotationDetailId" class="remove-btn"><span class="fa fa-remove"></span></a></td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>

           
        </div>

        <div class="row justify-content-between mt-5">
            <div class="column pull-left col-lg-5 col-md-6 col-sm-12">
                <div class="shipping-block">
                    <div class="inner-box">
                        <h4>Order Information</h4>

                        <!-- Shipping Form -->
                        <div class="shipping-form">
                            <!--Shipping Form-->
                            <form method="post" asp-page-handler="Submit">
                                <div class="row clearfix">
                                    <div class="form-group col-md-12 col-sm-12">
                                        <select name="style">
                                            @foreach (var item in Model.listS)
                                            {
                                                <option value="@item.Id">@item.Name - @item.PricePerSquare/1 m2</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-input col-md-6 col-sm-12">
                                         <input type="number" min="1" name="square" required value="" placeholder="Square Of House">
                                    </div>
                                    
                                    <div class="form-group col-md-6 col-sm-12">
                                        <input type="text" name="address" value="" required placeholder="Address">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12">
                                        <input type="text" name="phone" value="" required placeholder="Phone">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12">
                                        <input type="text" name="note" value="" required placeholder="Note">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 text-center">
                                        <button class="theme-btn totals-btn" type="submit" name="submit-form">Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column pull-right col-lg-6 col-md-6 col-sm-12">
                <!--Totals Table-->
                <ul class="totals-table">
                    <li><h3>Cart Totals</h3></li>
                    <li class="clearfix total"><span class="col">Total</span><span class="col price">$@Model.total</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

